<html>
<head>
 	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Arachne: Home</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/readable/bootstrap.min.css">

	<link rel="stylesheet" href="/static/index.css">
</head>
<body>

{{> header}}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Arachne Inc!</h1>
        <p>Your home for all your bug-catching needs.</p>
        <p><a class="btn btn-primary btn-lg" href="/about/" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      <h2>Spotlight Products:</h2>
        <div class="col-md-4">
          <h2>Bug Catching Net</h2>
          <img src="/img/child_with_net.jpg">
          <p>This beautiful net will help you catch all the butterflies in the world! On clearance!</p>
          <p><a class="btn btn-default" href="/products/1" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Bug Habitat</h2>
          <img src="/img/Terrerium.jpg">
          <p>A lovely habitat for the bugs you caught. Best seller!</p>
          <p><a class="btn btn-default" href="/products/2" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Bug Bait</h2>
          <img src="/img/vine-leaf.jpg" width=200>
          <p>No bugs to catch? This bait will lure them out of hiding.</p>
          <p><a class="btn btn-default" href="/products/3" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Arachne 2014</p>
      </footer>
    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>